@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$bg-color: rgb(41, 42, 49);
$primary-color: rgb(63, 13, 104);
$accent-color: rgb(37, 43, 75);

$font-family: 'Roboto', sans-serif;
$font-color: #fff;